# Makefile artifacts
*.o
*.obj
*.exe
*.dll
*.lib
*.so
.DS_Store
*.x64
*_stdout.txt
*_stderr.txt
*.exp
*.def
cache-opencl.*.bin
*.png
opencl_exports.txt
experiments/tmp/
bin
profanity.x64
profanity_build.exe
result.txt
README_dev.md
hits*.txt
run_*.txt
